<div class="pt-[var(--mobile-header-height)] md:pt-[var(--header-height)]">
  <!-- Title -->
  <section
    class="px-5 md:px-[15%] h-[170px] items-center bg-[#f5f5f5] hidden md:flex"
  >
    <div class="w-9/12">
      <h1 class="text-4xl">Shop</h1>
    </div>
    <div class="3/12">
      <app-breadcrumb />
    </div>
  </section>

  <div class="lg:px-[15%] mt-3 md:flex">
    <!-- Mobile filter icon -->
    <button
      class="ml-2 w-[30px] h-[30px] bg-[var(--primary)] rounded-full hover:bg-orange-600 transition duration-300 z-10 fixed top-[calc(var(--mobile-header-height)+6px)] left-[-3px]"
      [ngClass]="openFilterSearch ? 'hidden' : 'block'"
      (click)="toggleFilterSearch()"
    >
      <mat-icon class="text-2xl">filter_list</mat-icon>
    </button>

    <!-- Filters -->
    <section
      class="fixed top-0 bg-white z-20 w-screen h-screen px-3 md:static md:w-3/12 md:h-fit md:mr-4"
      [ngClass]="openFilterSearch ? 'block' : 'hidden md:block'"
    >
      <!-- Mobile Search -->
      <p class="md:hidden mt-2 md:my-4 text-xl text-[var(--primary)]">Search</p>
      <div class="md:hidden md:mt-0">
        <input
          id="search"
          type="text"
          placeholder="Search"
          [(ngModel)]="search"
          class="w-full border rounded py-1.5 px-2.5 outline-none focus:border-[#f4ad94] focus:shadow-[0_0_0_3px_rgba(233,84,32,.25)]"
        />
      </div>

      <!-- Sort -->
      <p class="mt-2 md:my-4 text-xl text-[var(--primary)]">Sort</p>
      <app-dropdown-filter
        #sortFilter
        [itemList]="SORTS"
        [activeValue]="SORTS[0].value"
        (select)="changeSort($event)"
      />

      <!-- Brands -->
      <p class="mt-2 md:my-4 text-xl text-[var(--primary)]">Brands</p>
      <app-select-filter
        #brandFilter
        [itemList]="BRANDS"
        [activeValue]="BRANDS[0].value"
        (select)="changeBrand($event)"
      />

      <!-- Types -->
      <p class="mt-2 md:my-4 text-xl text-[var(--primary)]">Types</p>
      <app-select-filter
        #typeFilter
        [itemList]="TYPES"
        [activeValue]="TYPES[0].value"
        (select)="changeType($event)"
      />

      <!-- Mobile Apply filter btn -->
      <div class="mt-3 flex gap-3 md:hidden">
        <button
          class="w-1/2 py-1.5 px-2.5 border rounded border-orange-500 text-orange-500 hover:text-white hover:bg-orange-500 transition duration-300"
          (click)="applySearchMobile()"
        >
          Apply
        </button>
        <button
          class="w-1/2 py-1.5 px-2.5 border rounded border-green-500 text-green-500 hover:text-white hover:bg-green-500 transition duration-300"
          (click)="clearFilterSearch()"
        >
          Reset
        </button>
      </div>
    </section>

    <section class="md:w-9/12 px-4">
      <!-- Search -->
      <div class="hidden md:block">
        <div class="flex flex-wrap justify-between items-center mt-2.5 mb-5">
          <p *ngIf="productCount! <= 0">There are 0 results for this filter</p>
          <p *ngIf="productCount! > 0">
            Showing
            <b> {{ minProductIndex }}-{{ maxProductIndex }} </b>
            of
            <b>{{ productCount }}</b> Results
          </p>
          <div class="flex flex-wrap gap-2">
            <input
              id="search"
              type="text"
              placeholder="Search"
              [(ngModel)]="search"
              class="w-[300px] border rounded py-1.5 px-2.5 outline-none focus:border-[#f4ad94] focus:shadow-[0_0_0_3px_rgba(233,84,32,.25)]"
            />
            <div>
              <button
                class="py-1.5 px-2.5 border rounded border-orange-500 text-orange-500 hover:text-white hover:bg-orange-500 transition duration-300 mr-2"
                (click)="applySearch()"
              >
                Search
              </button>
              <button
                class="py-1.5 px-2.5 border rounded border-green-500 text-green-500 hover:text-white hover:bg-green-500 transition duration-300"
                (click)="clearFilterSearch()"
              >
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Product list -->
      <p class="md:hidden text-center mb-3">
        {{ productCount }} product founded
      </p>
      <div
        class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-8"
      >
        <app-product-card
          *ngFor="let product of products"
          [product]="product"
        />
      </div>

      <!-- Pagination -->
      <div class="mt-8 mb-5 flex justify-center" *ngIf="productCount! > 0">
        <app-pagination
          #pagination
          [pageCount]="pageCount"
          (change)="changePage($event)"
        />
      </div>
    </section>
  </div>
</div>
