<div class="shadow rounded-sm">
  <div class="relative image-box">
    <img
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
      class="w-full bg-green-500 rounded-t-sm"
    />
    <div
      class="buttons w-full h-full absolute top-0 left-0 flex items-center justify-center"
    >
      <button
        class="w-20 h-10 rounded bg-[var(--primary)] transition duration-300 ease-in hover:bg-orange-500"
        (click)="addToCart(product)"
      >
        <mat-icon class="text-white text-xl"> shopping_cart </mat-icon>
      </button>
      <a
        href="#"
        routerLink="/shop/{{ product.id }}"
        class="w-20 h-10 rounded bg-[var(--primary)] transition duration-300 ease-in hover:bg-orange-500 flex items-center justify-center text-white"
      >
        View
      </a>
    </div>
  </div>
  <div class="p-5 flex flex-col">
    <a
      href="#"
      routerLink="/shop/{{ product.id }}"
      class="text-[var(--primary)] mb-3 hover:underline h-[50px] product-name"
      >{{ product.name | uppercase }}</a
    >
    <span>{{ product.price | currency }}</span>
  </div>
</div>
