@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --primary: orange;
  --mobile-header-height: 65px;
  --header-height: 100px;
}

* {
  font-family: "Ubuntu", sans-serif;
}
